@import '../variables.module.scss';

.button_connect {
  width: 100%;
  background-color: $brand_yellow;
  color: $color_FFFFFF;
  height: 40px;
  border-radius: 24px;
  border: none;
  position: relative;
  padding: 8px 32px;
  z-index: 3;
  cursor: pointer;

  .button_text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }

  &:hover {
    background-color: $color_5A2D1A;
  }

  @media only screen and (max-width: 400px) {
    width: 100px;
  }
}
