@import '../../../styles/variables.module.scss';


.header_list{
    display: flex;
    position: relative;
    z-index: 2;
  }

  .header_link{
    list-style: none;
    color: $color_848A8F;
    text-decoration: none;
    margin-left: 24px;
    width: 62px;
    height: 24px;

    font-family: Proxima Nova;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .header_link {
    &:hover,
    &:focus,
    &:active
   {
    color: $color_FFFFFF;
  } 
  }

  .icon{
    margin-left: 5px;
  }

  @media (max-width: 767px){
    .navigation{
      display: none;
    }
  };