@import '../../../styles/variables.module.scss';

.roadmap_section {
  font-family: 'Proxima Nova';
  padding: 0 12px;
  @include tpl_hide_scrollbar;

  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 64px;
    text-align: center;
    margin-bottom: 32px;
  }
  .roadmap {
    display: grid;
    grid-template-columns: repeat(7, max-content);
    grid-template-rows: 175px 98px 150px;
    padding-bottom: 124px;

    .item {
      position: relative;
      line-height: 19px;

      &:nth-child(-n + 3) {
        grid-row: 1 / 2;
        border-left: 2px solid $color_1E1E1F;
      }
      &:nth-child(n + 9) {
        grid-row: 3 / 4;
        .sub_title {
          padding-top: 24px;
          border-left: 2px solid $color_1E1E1F;
        }
        .disc {
          top: 48px;
          left: -3px;
        }
      }
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8) {
        grid-row: 2 / 3;
      }

      &:nth-child(1) {
        grid-column: 1 / 3;
        .disc {
          background-color: $brand_yellow;
        }
        .sub_title {
          color: $color_EAECEF;
        }
      }
      &:nth-child(2) {
        grid-column: 3 / 5;
      }
      &:nth-child(3) {
        grid-column: 5 / 7;
      }

      //drawing roadmap line
      &:nth-child(4) {
        .extremumCircle {
          background-color: $brand_yellow;
        }
        img {
          position: relative;
          top: 1px;
        }
      }
      // noActive
      &:nth-child(6),
      &:nth-child(8) {
        .transform {
          transform: scale(-1, 1);
        }
      }
      // end

      &:nth-child(5),
      &:nth-child(7) {
        .extremumCircle {
          top: unset;
          bottom: -10px;
        }
      }
      &:nth-child(9) {
        grid-column: 2 / 4;
      }
      &:nth-child(10) {
        grid-column: 4 / 7;
      }
    }
    .link {
      line-height: inherit;
      color: $brand_yellow;
    }
    .disc {
      position: absolute;
      left: -5px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $color_5A2D1A;
    }
  }

  @media only screen and (max-width: 819px) {
    .roadmap {
      grid-template-columns: 24px 280px;
      grid-template-rows: repeat(5, minmax(165px, auto));
      justify-content: center;
      column-gap: 20px;
      .item {
        padding-bottom: 18px;
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8) {
          grid-row: 1 / 2;
          grid-column: 1 / 2;
          position: relative;
          left: 10px;
          border-left: 4px solid $color_5A2D1A;
          .extremumCircle {
            top: 0px;
            left: -14px;
            bottom: initial;
            .innerCircle {
              transform: translate(25%, -50%);
              width: 16px;
              height: 16px;
            }
          }
        }
        &:nth-child(-n + 3) {
          grid-row: initial;
          grid-column: 2 / 3;
          border-left: none;
          .sub_title {
            border-left: none;
          }
        }
        &:nth-child(n + 9) {
          grid-column: 2 / 3;
          .sub_title {
            border-left: none;
            padding-top: 0px;
          }
        }
        &:nth-child(9) {
          grid-row: 2 / 3;
        }
        &:nth-child(7),
        &:nth-child(10) {
          grid-row: 4 / 5;
        }
        &:nth-child(4) {
          border-left-color: $brand_yellow;
        }
        &:nth-child(5) {
          grid-row: 2 / 3;
        }
        &:nth-child(6) {
          grid-row: 3 / 4;
        }
        &:nth-child(8) {
          grid-row: 5 / 6;
        }
        img {
          display: none;
        }
      }
      .disc {
        display: none;
      }
    }
  }
  @media only screen and (max-width: 401px) {
    padding: 0;
    .title {
      text-align: left;
    }
    .roadmap {
      grid-template-columns: 24px auto;
      justify-content: start;
      column-gap: 10px;
    }
  }
}

.step_list {
  list-style-type: disc;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  left: 40px;
  width: calc(100% - 40px);

  .step {
    font-size: 14px;
    .text {
      font-size: 16px;
    }
  }
}

.sub_title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  padding-left: 12px;
  margin-bottom: 16px;
}

.extremumCircle {
  @extend %tpl_circle;
  top: -10px;
}
