@import '../../styles/variables.module.scss';

.button_connect {
    background-color: $brand_yellow;
    color: $color_FFFFFF;
    width: 137px;
    height: 40px;
    border-radius: 24px;
    border: none;

  position: relative;
  z-index: 3;

  cursor: pointer;

  .button_text {
    font-family: Proxima Nova Cn Lt;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }

  &:hover {
    background-color: $color_5A2D1A;
  }

  @media only screen and (max-width: 400px) {
    width: 100px;
  }
}
