@import './variables.module.scss';
@import './fonts/_fonts.scss';

* {
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #fff7c7; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #fff7c7; /* Gecko Browsers */
}

/*
 * Globals
 */
body {
  height: 100vh;
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  z-index: 1;
  color: $gray;
}

a {
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  position: relative;
  max-width: 1140px;
  margin: 0px auto;
  @media only screen and (max-width: 1280px) {
    max-width: 800px;
  }
  @media only screen and (max-width: 1000px) {
    max-width: 700px;
    padding-right: 12px;
  }
  @media only screen and (max-width: 767px) {
    max-width: 100%;
    padding: 0 30px;
  }
  @media only screen and (max-width: 400px) {
    padding: 0 20px;
  }
}
