// colors
$black: #100f0f;
$gray: #848a8f;
$brand_yellow: #f6821f;
$color_1d1d1d: #1d1d1d;
$color_080808: #080808;
$color_FFFFFF: #ffffff;
$color_848A8F: #848a8f;
$color_1E1E1F: #1e1e1f;
$color_5A2D1A: #5a2d1a;
$color_EAECEF: #eaecef;
$color_141313: #141313;
$line_gradient: linear-gradient(180deg, $color_1d1d1d 0%, $color_080808 100%);

// templates
%tpl_circle {
  position: absolute;
  left: -12px;
  width: 24px;
  height: 24px;
  z-index: 2;
  background-color: $color_5A2D1A;
  border-radius: 50%;
  .innerCircle {
    position: absolute;
    top: 50%;
    width: 12px;
    height: 12px;
    transform: translate(50%, -50%);
    background-color: $color_EAECEF;
    border-radius: 50%;
  }
}


:export {
  white: $color_FFFFFF;
}
