@import '../../styles/variables.module.scss';

.container{
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    z-index: 2;
  }

  .header_body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  }

  .header_logo{
    flex: 0 0 170px;
    position: relative;
    z-index: 3;
  }

  .header_logo img{
    max-width: 100%;
    display: block;
  }

  .button_connect{
    background-color: $brang_yelow;
    color: $color_FFFFFF;

    width: 137px;
    height: 40px;
    padding: 8px 32px;
    border-radius: 24px;
    border: none;

    position: relative;
    z-index: 3;

  .button_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  &:hover,
  &:focus,
  &:active
 {
  background-color: $color_5A2D1A;
} 
}

  .header_burger {
    display: none;
  } 
  
  .header_list{
    display: flex;
    position: relative;
    z-index: 2;
  }

  .header_link_menu{
    list-style: none;
    color: $color_FFFFFF;
    text-decoration: none;
    margin-left: 20px;
    
    font-family: Proxima Nova;
    font-size: 24px;
    line-height: 32px;
  }

  .header_link{
    list-style: none;
    color: $color_848A8F;
    text-decoration: none;
    margin-left: 20px;

    width: 62px;
    height: 24px;

    font-family: Proxima Nova;
    font-size: 16px;
    line-height: 24px;
  }

  .header_link {
    &:hover,
    &:focus,
    &:active
   {
    color: $color_FFFFFF;
  } 
  }

  .header_link_text {
    text-decoration: underline;
  }

  @media (max-width: 767px){
    .header_body{
      height: 50px;
    }

    .header_logo{
      flex: 0 0 135px;
    }

   .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  } 

  .header_burger span{
    position: absolute;
    background-color: $brang_yelow;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header_burger::before,
  .header_burger::after{
    content: '';
    background-color: $brang_yelow;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header_burger::before{
    top: 0;
  }

  .header_burger::after{
    bottom: 0;
  }

  .header_burger.active::before{
    transform:rotate(45deg);
    top: 9px;
  }

  .header_burger.active::after{
    transform:rotate(-45deg);
    bottom: 9px;
  }

  .header_burger.active span{
    transform:scale(0);
  }

    .header_menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease 0s;
      background-color: $black;
      padding: 70px 10px 0px 10px;

      &.active {
      top: 0;
    }
    }

    .header_list{
      display: block;
    }

    .add_btn{
      opacity: 0;
      transition: all 0.3s ease 0s;
    }

    .arrows{
      float: right;
      margin: 0px 50px 0px 0px;
    }

    .li_a{
      margin-bottom: 32px;
    }
  
    .li_b{
      margin-bottom: 24px;
    }
}

@media (min-width: 768px){
  .arrows,
  .header_link_menu{
    opacity: 0;
  }

  .button_connect{
      order: 2;
    }

    .header_menu{
      order: 1;
    }
}
}