@import '../../../../styles/variables.module.scss';

.list_partners {
  display: flex;
  //   flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.one_partner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 32px;
  margin-bottom: 15px;
  padding: 12px 24px;
  width: auto;
  height: 64px;

  background: $color_1E1E1F;
  border-radius: 16px;
}

// .one_partner:not(:last-child) {
//   margin-right: 8px;
//   background-color: aqua;
//   width: 50px;
//   color: antiquewhite;
// }

.text {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin-left: 12px;
  color: $color_EAECEF;
}
