@import '../../styles/variables.module.scss';

.footer {
  height: 180px;
  &::before {
    content: '';
    position: absolute;
    left: calc((100% - 100vw) / 2);
    width: 100vw;
    background: $line_gradient;
  }

  .footer_elements {
   display: flex;
   align-items: center;
   justify-content: space-between; 
   padding-top: 36px;
   margin-bottom: 30px;
  }

  @media (max-width: 767px){
    .footer_elements {
      display: inline-block;
      padding-top: 48px;
      margin-bottom: 0px;
     }
  };

  @media (max-width: 767px){
  .footer_logo {
    margin-bottom: 24px;
  }
}

@media (max-width: 767px){
  .social {
    margin-bottom: 34px;
  }
}

  .footer_navigation {
  margin-left: -24px;
  }

  @media (max-width: 767px){
    .footer_navigation {
      margin-bottom: 34px;
      }
  }

  .social_text {
    font-family: Binaryx Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 8px;
  }

  // .mobile_menu {

  // }

//   @media (max-width: 767px){
//   .footer_menu {
// display: block;
//   }
// }

  .line {
    width: 100%;
    border-top: 1px solid $color_1E1E1F;
    position: relative;
  }

  .copyright_block {
   text-align: center;
  }

  .copyright {
    position: relative;
    margin: 24px 0px 24px 0px;

    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .footer {
    height: 544px;
}
}
