@import '../../styles/variables.module.scss';

.footer {
  min-height: 312px;
  &::before {
    content: '';
    position: absolute;
    left: calc((100% - 100vw) / 2);
    width: 100vw;
    min-height: 312px;
    background: $line_gradient;
  }
  .social {
    display: flex;
  }
  .footer_navigation {
    display: flex;
  }
}
