@import '../../styles/variables.module.scss';

.footer {
  min-height: 312px;
  background: linear-gradient(180deg, $color_1d1d1d 0%, $color_080808 100%);

  .social {
    display: flex;
  }
  .footer_navigation {
    display: flex;
  }
}
