@import '../variables.module.scss';

.header_list {
  display: flex;
}

@media (max-width: 767px) {
  .header_list {
    display: block;
  }
}

.header_link {
  list-style: none;
  color: $color_848A8F;
  text-decoration: none;
  width: 62px;
  height: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.list_el:not(:first-child) {
  margin-left: 24px;
}

@media (max-width: 767px) {
  .list_el:first-child {
    margin-left: 24px;
  }
}

.header_link {
  &:hover,
  &:focus,
  &:active {
    color: $color_FFFFFF;
  }
}

.icon {
  margin-left: 5px;
}
