@import '../../styles/variables.module.scss';

.container {
  min-height: calc(100vh - 895px);
  max-width: 80%;
  width: max-content;
  margin: 0 auto;
  background: linear-gradient(180deg, $color_1d1d1d 0%, $color_080808 100%);

  .near_pembrock_section {
    min-height: 373px;
    background-color: $black;
  }
  .information_section {
    display: flex;
  }
  .roadmap_section {
    display: flex;
  }
  .team_section {
    display: flex;
  }
  .community_section {
    display: flex;
  }

  h2 {
    color: rgba(234, 236, 239, 0.87);
  }
}
