@import '../../styles/variables.module.scss';

.container {
  min-height: calc(100vh - 895px);
  background: linear-gradient(180deg, $color_1d1d1d 0%, $color_080808 100%);

  .information_section {
    display: flex;
  }
  .roadmap_section {
    display: flex;
  }
  .team_section {
    display: flex;
  }
  .community_section {
    display: flex;
  }

  h2 {
    color: rgba($color_EAECEF, 0.87);
  }
}
